doctype html
html(lang="en")
    head
        // Global site tag (gtag.js) - Google Analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-175262730-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-175262730-1');
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="stylesheets/headter.bundle.css")
        link(rel="stylesheet", href="stylesheets/genre.bundle.css")
        link(rel="stylesheet", href="stylesheets/latest-releases.bundle.css")
        link(rel="stylesheet", href="stylesheets/artiste.bundle.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#ffa826")
        title #{genre} &nbsp;|&nbsp; undiluted music
    body
        form#form.hide(action="")
            input#search-input(type="search", placeholder="Search")
            button#clear-button.buttons.grid-center.material-icons clear
        header#header.grid
            #logo.grid-center Logo
            nav.grid
                ul.grid
                    li
                        button#genres-button.nav-link.active
                            span#genres-text Genres
                            span#icon.material-icons arrow_drop_down
                        ul#genres-box.hide
                            li: a(href="/afrobeats" class={'active-genre': genre === 'Afrobeats'}) Afrobeats
                            li: a(href="/afro-fusion" class={'active-genre': genre === 'Afro-Fusion'}) Afro-Fusion
                            li: a(href="/afro-house" class={'active-genre': genre === 'Afro-House'}) Afro-House
                            li: a(href="/afro-pop" class={'active-genre': genre === 'Afro-Pop'}) Afro-Pop
                            li: a(href="/alternative-r&b" class={'active-genre': genre === 'Alternative R&B'}) Alternative R&B
                            li: a(href="/alternative-rock" class={'active-genre': genre === 'Alternative Rock'}) Alternative Rock
                            li: a(href="/banku" class={'active-genre': genre === 'Banku'}) Banku
                            li: a(href="/blues" class={'active-genre': genre === 'Blues'}) Blues
                            li: a(href="/contemporary-r&b" class={'active-genre': genre === 'Contemporary R&B'}) Contemporary R&B
                            li: a(href="/dancehall" class={'active-genre': genre === 'Dancehall'}) Dancehall
                            li: a(href="/electronic" class={'active-genre': genre === 'Electronic'}) Electronic
                            li: a(href="/folk" class={'active-genre': genre === 'Folk'}) Folk
                            li: a(href="/fuji" class={'active-genre': genre === 'Fuji'}) Fuji
                            li: a(href="/gospel" class={'active-genre': genre === 'Gospel'}) Gospel
                            li: a(href="/highlife" class={'active-genre': genre === 'Highlife'}) Highlife
                            li: a(href="/hip-hop" class={'active-genre': genre === 'Hip-Hop'}) Hip-Hop
                            li: a(href="/house" class={'active-genre': genre === 'House'}) House
                            li: a(href="/igbo-gospel-hip-hop" class={'active-genre': genre === 'Igbo Gospel Hip-Hop'}) Igbo Gospel Hip-Hop
                            li: a(href="/igbo-highlife" class={'active-genre': genre === 'Igbo Highlife'}) Igbo Highlife
                            li: a(href="/igbo-rap" class={'active-genre': genre === 'Igbo Rap'}) Igbo Rap
                            li: a(href="/indie-pop" class={'active-genre': genre === 'Indie-Pop'}) Indie-Pop
                            li: a(href="/jazz" class={'active-genre': genre === 'Jazz'}) Jazz
                            li: a(href="/neo-soul" class={'active-genre': genre === 'Neo-Soul'}) Neo-Soul
                            li: a(href="/pop" class={'active-genre': genre === 'Pop'}) Pop
                            li: a(href="/r&b" class={'active-genre': genre === 'R&B'}) R&B
                            li: a(href="/ragga" class={'active-genre': genre === 'Ragga'}) Ragga
                            li: a(href="/reggae" class={'active-genre': genre === 'Reggae'}) Reggae
                            li: a(href="/soca" class={'active-genre': genre === 'Soca'}) Soca
                            li: a(href="/soul" class={'active-genre': genre === 'Soul'}) Soul
                            li: a(href="/trap" class={'active-genre': genre === 'Trap'}) Trap
                            li: a(href="/world" class={'active-genre': genre === 'World'}) World
                            li: a(href="/yoruba" class={'active-genre': genre === 'Yoruba'}) Yoruba
                    li: a.nav-link(href="/artistes") Artistes
                    li: a.nav-link(href="/singles") Singles
                    li: a.nav-link(href="/eps") EPs
            button#search-button.buttons.grid-center.material-icons search
        script(src="scripts/header.bundle.js")
        main
            section.latest-releases-container
                h1.latest-text #{genre}
                article
                    a(href="")
                        figure(title="")
                            .img-container: img(src="", alt="")
                            figcaption
                                p.article-title 
                                p.article-artiste 
                article
                    a(href="")
                        figure(title="")
                            .img-container: img(src="", alt="")
                            figcaption
                                p.article-title 
                                p.article-artiste 
                article
                    a(href="")
                        figure(title="")
                            .img-container: img(src="", alt="")
                            figcaption
                                p.article-title 
                                p.article-artiste 
                article
                    a(href="")
                        figure(title="")
                            .img-container: img(src="", alt="")
                            figcaption
                                p.article-title 
                                p.article-artiste 
                article
                    a(href="")
                        figure(title="")
                            .img-container: img(src="", alt="")
                            figcaption
                                p.article-title 
                                p.article-artiste 
                .load-more: button Load more
            script(src="scripts/latest.bundle.js")
        footer.grid-center
            #footer-links.grid
                p: a(href="") Sitemap
                p: a(href="") Privacy Policy
                p: a(href="") About Us
            p &copy; undiluted music. All Rights Reserved.