@media screen and (max-width: 699px) {
    .latest-text {
        font-size: 36px;
        top: -29px;
    }
}
@media screen and (min-width: 700px) {
    .latest-text {
        font-size: 40px;
        top: -30.5px;
    }
}
.breadcrumb {
    margin-bottom: calc(35px + 1vw);
}
.latest-text {
    padding: 8px;
}
.latest-releases-container {
    padding-top: calc(40px + 1vw);
}