html {
    --before-width: 0px;
    --buffered-width: 0%;
}
#audio-container {
    display: grid;
    grid-template-columns: 3.5ch 1fr 3.5ch;
    grid-template-rows: 48px 20px;
    grid-template-areas:
    ". buttons ."
    "cur range dur";
    column-gap: 5px;
    row-gap: 10px;
    place-content: center;
    place-items: center;
    width: 90vw;
    max-width: 600px;
}
#control-buttons {
    display: grid;
    grid-template-columns: repeat(3, 48px);
    gap: 10px;
    place-items: center;
    grid-area: buttons;
}
.prenext {
    padding: 9px;
    height: 48px;
}
#play-button {
    padding: 5px;
    height: 48px;
}
button:focus {
    outline: 0;
}
.play-focus:focus {
    outline: 2px solid #003a77;
}
path {
    stroke: #2464a6;
}
.play-focus:focus path {
    stroke: #003a77;
}
.dur {
    font-size: 15px;
}
#current-time {
    grid-area: cur;
}
#duration {
    grid-area: dur;
}
#range-container {
    display: grid;
    width: calc(100% - 10px);
    padding: 5px 2.5px;
    grid-area: range;
}
.outline {
    outline: 2px solid #003a77;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    height: 19px;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(36, 100, 166, 0.6) var(--buffered-width), rgba(36, 100, 166, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: var(--before-width);
    height: 3px;
    background-color: #2464a6;
    cursor: pointer;
}
.range-focus:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0, 58, 119, 0.6) var(--buffered-width), rgba(0, 58, 119, 0.2) var(--buffered-width));
}
.range-focus:focus::before {
    background-color: #003a77;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #2464a6;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
.range-focus:focus::-webkit-slider-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #2464a6;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(36, 100, 166, 0.6) var(--buffered-width), rgba(36, 100, 166, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #2464a6;
}
.range-focus:focus::-moz-range-track {
    background: linear-gradient(to right, rgba(0, 58, 119, 0.6) var(--buffered-width), rgba(0, 58, 119, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
.range-focus:focus::-moz-range-progress {
    background-color: #003a77;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #2464a6;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.range-focus:focus::-moz-range-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #2464a6;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: 10px solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #2464a6;
}
.range-focus:focus::-ms-fill-lower {
    background-color: #003a77;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(36, 100, 166, 0.6) var(--buffered-width), rgba(36, 100, 166, 0.2) var(--buffered-width));
}
.range-focus:focus::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 58, 119, 0.6) var(--buffered-width), rgba(0, 58, 119, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #2464a6;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.range-focus:focus::-ms-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #2464a6;
}