@media screen and (max-width: 699px) {
    tr {
        height: 70px;
        grid-template-columns: 6fr 1fr 1fr;
    }
    .first {
        grid-template-columns: max-content 1fr;
        grid-template-areas:
        "number name"
        "people people";
    }
    .people {
        font-size: 14px;
    }
    .time {
        font-size: 14px;
    }
    .audio-download {
        padding: 11px;
    }
}
@media screen and (min-width: 700px) {
    tr {
        height: 50px;
        grid-template-columns: 10fr 1fr 1fr;
    }
    .first {
        grid-template-columns: 3ch 20vw 2fr;
        grid-template-areas:
        "number name people";
    }
    .number {
        justify-self: center;
    }
    .name {
        justify-self: flex-start;
    }
    .people {
        justify-self: flex-start;
        font-size: 15px;
    }
    .time {
        font-size: 15px;
    }
    .audio-download {
        padding: 9px;
    }
}
table {
    width: 100%;
    padding: 2vw;
    background-color: #ffa826;
    border: 1px solid #c77900;
    letter-spacing: -0.5px;
}
tbody {
    display: grid;
}
tr:nth-child(odd) {
    background-color: #ffda5b;
}
tr:nth-child(even) {
    background-color: #ffa826;
}
tr {
    display: grid;
    gap: calc(15px + 0.5vw);
    place-items: center;
}
td {
    padding: 0;
}
.first {
    justify-self: flex-start;
    display: grid;
    align-items: center;
}
.number {
    grid-area: number;
    font-size: 1rem;
}
.name {
    grid-area: name;
    font-size: 1rem;
}
.people {
    grid-area: people;
}
.audio-download {
    position: relative;
    outline: 0;
}
.audio-download:hover::after, .audio-download:focus::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}