@media screen and (max-width: 699px) {
    tbody {
        grid-template-rows: repeat(15, 53px);
    }
    tr {
        grid-template-columns: 6fr 1fr 1fr 1fr;
    }
    .first {
        grid-template-columns: max-content 1fr;
        grid-template-areas:
        "number name"
        "people people";
    }
    .people {
        font-size: 14px;
    }
    .time {
        font-size: 14px;
    }
}
@media screen and (min-width: 700px) {
    tbody {
        grid-template-rows: repeat(15, 45px);
    }
    tr {
        grid-template-columns: 10fr 1fr 1fr 1fr;
    }
    .first {
        grid-template-columns: 3ch 20vw 2fr;
        grid-template-areas:
        "number name people";
    }
    .number {
        justify-self: center;
    }
    .name {
        justify-self: flex-start;
    }
    .people {
        justify-self: flex-start;
        font-size: 15px;
    }
    .time {
        font-size: 15px;
    }
}
#audio-section {
    margin: 5vw 3vw 3vw 3vw;
}
table {
    width: 100%;
    padding: 2vw;
    background-color: #ffa826;
    border: 1px solid #003a77;
    letter-spacing: -0.5px;
}
tbody {
    display: grid;
}
tr:nth-child(odd) {
    background-color: #ffda5b;
}
tr:nth-child(even) {
    background-color: #ffa826;
}
tr {
    display: grid;
    place-items: center;
}
td {
    padding: 0;
}
.first {
    justify-self: flex-start;
    display: grid;
}
.number {
    grid-area: number;
    font-size: 1rem;
}
.name {
    grid-area: name;
    font-size: 1rem;
}
.people {
    grid-area: people;
}