@media screen and (max-width: 919px) {
    main {
        margin: 125px 8vw auto 8vw;
    }
}
@media screen and (min-width: 920px) {
    main {
        margin: 85px 8vw auto 8vw;
    }
}
#artistes-container {
    display: grid;
}
.letter {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    font-weight: 600;
}
.artistes {
    list-style-type: none;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.name {
    border: 1px solid green;
    padding: 1%;
    margin: 1%;
    width: max-content;
    height: max-content;
    background-color: lightgreen;
    font-size: 1.1rem;
}