@media screen and (max-width: 699px) {
    .latest-text {
        font-size: 36px !important;
        top: -29px !important;
    }
}
@media screen and (min-width: 700px) {
    .latest-text {
        font-size: 40px !important;
        top: -30.5px !important;
    }
}
.latest-text {
    padding: 8px !important;
}