main {
    margin: 3vw 8vw auto 8vw;
}
#artistes-container {
    display: grid;
}
.letter {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    font-weight: 600;
}
.artistes {
    list-style-type: none;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.name {
    border: 1px solid #003a77;
    margin: 5px;
    width: max-content;
    height: max-content;
    background-color: #ffda5b;
    font-size: 1.1rem;
}
.name a {
    outline: none;
    display: block;
    padding: calc(5px + 0.5vw);
}
.name:hover {
    background-color: #ffa826;
    box-shadow: 0 1px 5px 0 #003a77;
}
.name a:focus {
    border: 1px solid #003a77;
}