main {
    margin: calc(var(--breadcrumb-margin) + 5px + 1vw) 8vw calc(20px + 1vw) 8vw;
}
#artistes-container {
    display: grid;
}
.letter {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    font-weight: 600;
}
.artistes {
    list-style-type: none;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.name {
    margin: 10px;
    font-size: 18px;
    letter-spacing: -0.3px;
}
.name a {
    display: block;
    padding: calc(10px + 0.5vw);
    border: 1px solid #003a77;
    background-color: #ffda5b;
}
.name a:hover, .name a:focus {
    background: linear-gradient(to right, #ffda5b, #5f91d8);
}
.name a:active {
    transform: scale(0.95);
    transition: transform 250ms ease-out;
}
.name a:not(:active) {
    transition: transform 250ms ease-out;
}