@media screen and (min-width: 920px) {
    form {
        /* top: -75px; */
        height: 70px;
    }
    #header {
        grid-template-columns: 70px 2fr 2.5fr 70px;
        grid-template-rows: 60px;
    }
    nav {
        grid-column: 3 / 4;
        height: 60px;
    }
    #search {
        grid-column: 4 / 5;
    }
    #genres-box {
        top: 60px;
        padding: 2px 5px 5px 5px;
    }
    .breadcrumb {
        margin: 85px 5vw auto 5vw;
    }
}
@media screen and (max-width: 919px) {
    form {
        /* top: -115px; */
        height: 110px;
    }
    #header {
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 50px 50px;
    }
    nav {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    #search {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #genres-box {
        top: 110px;
        padding: 2px 1vw 2px 1vw;
    }
    .breadcrumb {
        margin: 125px 5vw auto 5vw;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
p, h1, h2, h3, ul, figure {
    margin: 0;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
}
.buttons {
    width: 45px;
    height: 45px;
}
.hide {
    display: none;
}
.down {
    display: grid;
    animation: down 10s ease-out forwards;
}
.up {
    display: grid;
    animation: up 10s ease-out forwards;
}
.fade {
    animation: fade 10s ease-out forwards;
}
.unfade {
    animation: unfade 10s ease-out forwards;
}
@keyframes down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(75px);
    }
}
@keyframes up {
    from {
        transform: translateY(75px);
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes fade {
    to {
        opacity: 0;
    }
}
@keyframes unfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
form {
    position: fixed;
    left: 0;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #003a77;
    box-shadow: 0 1px 5px 0 #808080;
    align-items: center;
    grid-template-columns: calc(10px + 1.5vw) 1fr max-content calc(10px + 1.5vw);
    grid-template-rows: 20px 45px;
    grid-template-areas:
    ". . . ."
    ". box clear .";
}
input[type="search"] {
    grid-area: box;
    border: 0;
    padding: 0;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
input[type="search"]:focus {
    outline: 0;
    border-bottom: 1px solid #5f91d8;
}
#clear-button {
    grid-area: clear;
}
.buttons:focus {
    outline: 0;
    border: 2px solid #5f91d8;
}
.buttons:active {
    transform: scale(0.8);
    transition: transform 100ms ease-out;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    perspective: 20px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 1px 5px 0 #808080;
    background-color: #ffa826;
}
#logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
nav ul {
    padding: 0;
    list-style: none;
    height: inherit;
}
nav > ul {
    grid-template-columns: repeat(4, 70px);
    justify-content: space-evenly;
}
nav > ul > li > a {
    display: block;
    width: max-content;
    margin: 16px auto 16px auto;
}
li:hover > #button-container #icon {
    transform: rotate(-180deg);
    transition: transform 200ms linear;
}
li:not(:hover) > #button-container #icon {
    transition: transform 200ms linear;
}
li:hover > #genres-box {
    display: flex;
    overflow: hidden;
    animation: gen 1s ease-out forwards;
}
@keyframes gen {
    from {
        max-height: 0;
    }
    to {
        max-height: 306px;
    }
}
#button-container{
    width: max-content;
    margin: 13px auto 13px auto;
}
#genres-box {
    position: fixed;
    left: 0;
    width: 99vw;
    display: none;
    flex-flow: wrap;
    background-color: #ffda5b;
}
#genres-box li {
    width: max-content;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    background-color: #5f91d8;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
}
#genres-button {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
#genres-text {
    display: inline-block;
    margin: auto 0;
}
#search {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.breadcrumb {
    font-size: 15px;
    display: flex;
    flex-flow: wrap;
    place-items: center;
}
.crumb:hover {
    opacity: 0.6;
}
.sec-dark {
    color: #003a77;
}
footer {
    width: 100%;
}