@media screen and (min-width: 920px) {
    #header {
        padding-bottom: 10px;
        grid-template-columns: 70px 2fr 2.5fr 70px;
        grid-template-rows: 50px;
    }
    nav {
        grid-column: 3 / 4;
    }
    #search {
        grid-column: 4 / 5;
    }
}
@media screen and (max-width: 919px) {
    #header {
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 50px 50px;
    }
    nav {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    #search {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 10px;
    display: grid;
    box-shadow: 0 1px 5px 0 #808080;
}
#logo {
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    place-items: center;
}
nav {
    display: grid;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    justify-content: space-evenly;
}
nav ul li {
    display: grid;
    place-items: center;
}
a {
    text-decoration: none;
    color: black;
}
#genres-link {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 24px;
    place-items: center;
}
#search {
    margin-right: 20px;
    display: grid;
    place-items: center;
}
#genres-box {
    width: 100%;
    margin-top: 110px;
}
.hide {
    display: none;
}
/*.show {
}*/
#genres-box ul {
    margin: 0;
    padding: 2px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#genres-box ul li {
    display: grid;
    width: max-content;
    height: max-content;
    margin: 1px;
    padding: 5px;
}