@media screen and (min-width: 920px) {
    :root {
        --move: 75px;
        --position: -75px;
        --form-row: 12.5px;
        --activated-top: 91.6%;
        --breadcrumb-margin: 100px;
    }
    form {
        height: 70px;
    }
    #header {
        grid-template-columns: calc(10px + 1.5vw) 70px 2.5fr 2.5fr 70px calc(10px + 1.5vw);
        grid-template-rows: 60px;
        grid-template-areas:
        ". logo . nav search .";
    }
    #genres-button {
        padding: 15px 0 25px 0;
    }
    .nav-link {
        padding: 16px 0 26px 0;
    }
    footer {
        padding: 15px calc(30px + 1vw);
        grid-template-columns: max-content max-content;
        gap: calc(270px + 1vw);
    }
}
@media screen and (max-width: 919px) {
    :root {
        --move: 115px;
        --position: -115px;
        --form-row: 20px;
        --activated-top: 90%;
        --breadcrumb-margin: 140px;
    }
    form {
        height: 110px;
    }
    #header {
        grid-template-columns: calc(10px + 1.5vw) 70px 1fr 70px calc(10px + 1.5vw);
        grid-template-rows: 50px 50px;
        grid-template-areas:
        ". logo . search ."
        "nav nav nav nav nav";
    }
    #genres-button {
        padding: 15px 0;
    }
    .nav-link {
        padding: 16px 0;
    }
    footer {
        padding: 15px;
        gap: 15px;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}
p, h1, h2, h3, ul, figure {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
button {
    font-family: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
}
.hide {
    display: none;
}
.disabled {
    opacity: 0.3;
}
form {
    position: fixed;
    left: 0;
    top: var(--position);
    z-index: 5;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #003a77;
    box-shadow: 0 1px 5px 0 #808080;
    display: grid;
    align-items: center;
    grid-template-columns: calc(10px + 1.5vw) 1fr max-content calc(10px + 1.5vw);
    grid-template-rows: var(--form-row) 45px;
    grid-template-areas:
    ". . . ."
    ". box clear .";
}
#search-input {
    grid-area: box;
    border: 0;
    padding: 0;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
#search-input::-webkit-search-cancel-button,
#search-input::-webkit-search-decoration,
#search-input::-webkit-search-results-button,
#search-input::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
#search-input:focus {
    outline: 0;
    border-bottom: 1px solid #5f91d8;
}
#clear-button {
    grid-area: clear;
}
.buttons {
    width: 45px;
    height: 45px;
}
.buttons:hover {
    opacity: 0.6;
}
.buttons:focus {
    outline: 2px solid #000;
}
.buttons:active {
    transform: scale(0.8);
    transition: transform 100ms ease-out;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    perspective: 20px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 1px 5px 0 #808080;
    background-color: #ffa826;
}
.down {
    animation: down 250ms ease-out forwards;
}
@keyframes down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(var(--move));
    }
}
.up {
    animation: up 250ms ease-out forwards;
}
@keyframes up {
    from {
        transform: translateY(var(--move));
    }
    to {
        opacity: 0;
        transform: translateY(0);
    }
}
.fade {
    animation: fade 250ms ease-out forwards;
}
@keyframes fade {
    to {
        opacity: 0;
    }
}
.unfade {
    animation: unfade 250ms ease-out forwards;
}
@keyframes unfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#logo {
    grid-area: logo;
    width: 50px;
    height: 50px;
}
nav {
    grid-area: nav;
}
nav ul {
    padding: 0;
    list-style: none;
}
nav > ul {
    grid-template-columns: repeat(4, 70px);
    justify-content: space-evenly;
}
.nav-link {
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto;
    letter-spacing: -0.3px;
}
.nav-link:hover {
    opacity: 0.8;
}
.nav-link:focus {
    outline: solid 2px #000;
}
#search {
    grid-area: search;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
}
#genres-button {
    display: flex;
    margin: 0 -1.2345px;
    flex-direction: row;
    font-size: 1rem;
}
#genres-button .activated {
    width: 70px;
}
#genres-text {
    display: inline-block;
    margin: auto 0;
}
#icon {
    font-size: 20px;
}
.activated {
    position: absolute;
    top: var(--activated-top);
    background-color: #000;
    height: 5px;
}
#genres-box {
    position: fixed;
    z-index: 5;
    left: -0.2vw;
    right: -0.2vw;
    width: 100%;
    flex-flow: wrap;
    background: linear-gradient(#000, #ffa826);
    padding: calc(2px + 0.2vw);
}
#genres-box li {
    width: max-content;
    margin: 2px;
    letter-spacing: -0.5px;
}
#genres-box li a {
    display: inline-block;
    padding: calc(5px + 0.1vw);
    border: 1px solid #000;
    background-color: #ffda5b;
    outline: 0;
}
#genres-box li a:hover, #genres-box li a:focus {
    box-shadow: 0 0 3px 3px #5f91d8;
    transform: scale(1.05);
    transition: transform 100ms ease-out;
}
#genres-box li a:active {
    transform: scale(0.9);
    transition: transform 100ms ease-out;
}
.rotate {
    transform: rotate(-180deg);
    transition: transform 300ms linear;
}
.unrotate {
    transition: transform 500ms linear;
}
.activate {
    overflow: hidden;
    animation: activate 100ms ease-in forwards;
}
@keyframes activate {
    from {
        max-height: 0;
    }
    to {
        max-height: 5px;
    }
}
.deactivate {
    overflow: hidden;
    animation: deactivate 100ms ease-out forwards;
    animation-delay: 500ms;
}
@keyframes deactivate {
    from {
        max-height: 5px;
    }
    to {
        max-height: 0;
    }
}
.gen {
    display: flex;
    overflow: hidden;
    animation: gen 500ms ease-in forwards;
}
@keyframes gen {
    from {
        max-height: 0;
    }
    to {
        max-height: 346.25px;
    }
}
.ungen {
    display: flex;
    overflow: hidden;
    animation: ungen 500ms ease-out forwards;
}
@keyframes ungen {
    from {
        max-height: 346.25px;
    }
    to {
        max-height: 0;
    }
}
.breadcrumb {
    display: flex;
    flex-flow: wrap;
    place-items: center;
    margin: var(--breadcrumb-margin) 5vw calc(25px + 1vw) calc(25px + 1vw);
    letter-spacing: -0.5px;
    font-size: 16px;
}
.breadcrumb > :not(:last-child)::after {
    position: absolute;
    content: 'chevron_right';
    font-family: 'Material Icons';
    font-size: 20px;
    color: #000;
    top: 4px;
    padding: 0 2.5px;
}
.breadcrumb :last-child {
    padding: 5px 0;
}
.crumb {
    position: relative;
    padding: 5px 25px 5px 0;
    outline: none;
}
.crumb:hover::before, .crumb:focus::before {
    position: absolute;
    width: calc(100% - 21px);
    content: '';
    left: -2px;
    bottom: 5px;
    height: 2px;
    background: #ffa826;
}
.sec-dark, .crumb {
    color: #003a77;
}
footer {
    position: relative;
    background: linear-gradient(to left, #ffda5b, #5f91d8);
    place-content: center;
}
#footer-links {
    grid-template-columns: repeat(3, max-content);
    gap: calc(30px + 1vw);
}
#footer-links a:hover, #footer-links a:focus {
    outline: 0;
    text-decoration: underline;
}
footer::before {
    position: absolute;
    top: -4px;
    width: 100%;
    height: 2px;
    content: '';
    background: linear-gradient(to right, #ffa826,#2464a6);
}