@media screen and (min-width: 920px) {
    #header {
        padding-bottom: 10px;
        grid-template-columns: 70px 2fr 2.5fr 70px;
        grid-template-rows: 50px max-content;
    }
    nav {
        grid-column: 3 / 4;
    }
    #search {
        grid-column: 4 / 5;
    }
    #genres-box {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
}
@media screen and (max-width: 919px) {
    #header {
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 50px 50px max-content;
    }
    nav {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    #search {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    #genres-box {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
p, h1, h2, h3, ul, figure {
    margin: 0;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 1px 5px 0 #808080;
    background-color: lightgreen;
    border-bottom: 1px solid green;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid {
    display: grid;
}
#logo {
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
nav ul {
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(4, 70px);
    justify-content: space-evenly;
}
.nav-link {
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
#genres-link {
    cursor: pointer;
    grid-template-columns: 1fr 24px;
}
#search {
    margin-right: 20px;
}
/*#genres-box {
}*/
.hide {
    display: none;
}
/*.show {
}*/
#genres-box ul {
    padding: 2px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#genres-box ul li {
    display: grid;
    width: max-content;
    margin: 2px;
    padding: 5px;
    font-size: 0.9rem;
    border: 1px solid black;
}
footer {
    width: 100%;
}