.latest-releases-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 5vw 1fr 5vw;
}
.latest-text {
    padding: 0 0 1.5vw 2vw;
    justify-self: flex-start;
    grid-column: 1 / 3;
    font-size: calc(1.5rem + 0.2vw);
}
.article-container {
    grid-column: 2 / 3;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
figure {
    display: grid;
    gap: 0;
    border: 1px solid #003a77;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    height: auto;
    display: grid;
    grid-template-columns: 1ch 1fr;
    padding: 3%;
}
.article-title {
    grid-column: 1 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
}
.article-artiste {
    grid-column: 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.article-container figure:hover, a:focus figure {
    border: 0;
    transform: scale(1.05);
    transition: transform 250ms ease-out;
    box-shadow: 0 1px 5px 0 #003a77;
    z-index: 1;
}
figure:not(:hover), a:not(:focus) figure {
    transition: transform 500ms ease-out;
}
.article-container figure:active {
    transform: scale(0.95);
    transition: transform 250ms ease-out;
}
article a:focus {
    outline: 0;
}