@media screen and (max-width: 699px) {
    .latest-text {
        font-size: 28px;
        top: -22px;
    }
}
@media screen and (min-width: 700px) {
    .latest-text {
        font-size: 30px;
        top: -24px;
    }
}
.latest-releases-container {
    margin-bottom: 4px;
    position: relative;
    display: grid;
    gap: calc(15px + 0.5vw);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: calc(30px + 1vw) calc(20px + 1vw);
}
.latest-releases-container::before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -2px;
    width: 100%;
    height: 2px;
    content: '';
    background: linear-gradient(to left, #ffa826, #2464a6);
}
.latest-releases-container::after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    content: '';
    background: linear-gradient(to right, #ffa826,#2464a6);
}
.latest-text {
    background: #fff;
    padding: 5px;
    position: absolute;
    left: calc(10px + 1vw);
    font-weight: 500;
    letter-spacing: -0.5px;
}
figure {
    display: grid;
    gap: 0;
    border: 1px solid #003a77;
}
.img-container {
    position: relative;
    padding-top: 100%;
}
img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    letter-spacing: -0.5px;
}
figcaption {
    min-height: 34px;
    display: grid;
    grid-template-columns: 1ch 1fr;
    padding: 3%;
    letter-spacing: -0.4px;
    border-top: 1px solid #003a7780;
}
.article-title {
    grid-column: 1 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
}
.article-artiste {
    grid-column: 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
article a:focus {
    outline: 0;
}
.latest-releases-container figure:hover, a:focus figure {
    border: 0;
    transform: scale(1.05);
    transition: transform 250ms ease-out;
    box-shadow: 0 0 3px 3px #5f91d8;
    z-index: 1;
}
.grayscale {
    animation: grayscale 250ms ease-out forwards;
}
@keyframes grayscale {
    to {
        filter: grayscale(50%);
    }
}
figure:not(:hover), a:not(:focus) figure {
    transition: transform 500ms ease-out;
}
.latest-releases-container figure:active {
    transform: scale(0.95);
    transition: transform 250ms ease-out;
}
/* .nav-section {
    grid-area: nav-sect;
    justify-self: flex-end;
    padding: calc(10px + 1vw) calc(10px + 2vw) 0 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: calc(10px + 0.5vw);
} */