@media screen and (max-width: 699px) {
    #today-text {
        top: -25px;
    }
}
@media screen and (min-width: 700px) {
    #today-text {
        top: -30px;
    }
}
#today-jam-container {
    width: 91vw;
    max-width: 700px;
    margin: var(--breadcrumb-margin) auto calc(45px + 1vw) auto;
    position: relative;
    background: #fff;
    padding: 30px 5px;
    display: grid;
    gap: calc(10px + 1vw);
}
#today-jam-container::before {
    position: absolute;
    z-index: -1;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    content: '';
    background: linear-gradient(to right, #ffa826, #2464a6);
}
#today-text {
    position: absolute;
    left: calc(5px + 1vw);
    padding: 5px;
    background: #fff;
}
hr {
    width: 75vw;
    margin: 35px auto;
}