@media screen and (max-width: 699px) {
    :root {
        --jam-area:
        "text"
        "title"
        "artiste"
        "audio";
    }
}
@media screen and (min-width: 700px) and (max-width: 919px) {
    :root {
        --title-justify: flex-end;
        --artiste-justify: flex-start;
        --jam-area:
        "text text"
        "title artiste"
        "audio audio";
    }
}
@media screen and (min-width: 920px) {
    :root {
        --title-justify: flex-end;
        --artiste-justify: flex-start;
        --jam-area:
        "text text"
        "title artiste"
        "audio audio";
    }
}
#today-jam-container {
    margin-top: var(--breadcrumb-margin);
    display: grid;
    grid-template-areas: var(--jam-area);
    row-gap: calc(5px + 0.6vw);
    column-gap: calc(15px + 1vw);
    place-items: center;
    place-content: center;
}
#today-text {
    grid-area: text;
}
#today-title {
    grid-area: title;
    justify-self: var(--title-justify);
}
#today-artiste {
    grid-area: artiste;
    justify-self: var(--artiste-justify);
}
#audio-container {
    grid-area: audio;
}
hr {
    width: 92.5vw;
    margin: 20px auto 20px auto;
}