@media screen and (max-width: 600px) {
    #today-jam-container {
        place-items: center;
    }
}
body {
    margin: 0;
    height: 800px;
}
p {
    margin: 0;
}
#today-jam-container {
    margin: 130px 0 0 0;
    display: grid;
    gap: 5px;
}
#today-text {
    margin: 0;
}
#audio-player {
    width: 90vw;
    height: 50px;
}
hr {
    width: 92.5vw;
    margin: 20px auto 20px auto;
}