body {
    font-family: Arial, Helvetica, sans-serif;
}
#today-text {
    font-size: 28px;
}
#today-title {
    font-size: 24px;
}
#today-artiste {
    font-size: 16px;
}
#audio-player {
    border: 1px solid black;
}
hr {
    border-color: coral;
}