#today-jam-container {
    letter-spacing: -0.5px;
}
#today-jam-container a:hover, #today-jam-container a:focus {
    outline: 0;
    text-decoration: underline #ffa826;
}
#today-text {
    font-size: calc(1.7rem + 0.4vw);
}
#today-title {
    font-size: calc(1.5rem + 0.3vw);
}
#today-artiste {
    font-size: calc(1rem + 0.3vw);
}
#audio-player {
    border: 1px solid #003a77;
}
hr {
    border-color: #ffa826;
}