#today-jam-container {
    letter-spacing: -0.5px;
    text-align: center;
}
#today-jam-container a:hover, #today-jam-container a:focus {
    outline: 0;
    text-decoration: underline #ffa826;
}
#today-text {
    font-size: 40px;
}
#today-title {
    font-size: 24px;
}
#today-artiste {
    font-size: 16px;
}
hr {
    border-color: #ffa826;
}