@media screen and (max-width: 699px) {
    .intro {
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-areas: 
        "album album album"
        ". cover ."
        ". data .";
    }
    .album {
        grid-template-columns: calc(10px + 1vw) 1ch 1fr;
        grid-template-areas: 
        ". title title"
        ". . artiste";
    }
}
@media screen and (min-width: 700px) {
    .intro {
        grid-template-columns: 5vw 1fr 2fr 5vw;
        grid-template-rows: 50px max-content;
        grid-template-areas: 
        ". cover album ."
        ". cover data .";
    }
    .album {
        grid-template-columns: 1ch 1fr;
        grid-template-areas:
        "title title"
        ". artiste";
    }
}
.intro {
    display: grid;
    row-gap: calc(20px + 1vw);
    column-gap: calc(10px + 1vw);
}
.album {
    grid-area: album;
    display: grid;
    letter-spacing: -0.5px;
    row-gap: 5px;
}
.album-title {
    grid-area: title;
    font-size: 30px;
    font-weight: 500;
}
.album-artiste {
    grid-area: artiste;
    font-size: 18px;
}
.intro a {
    position: relative;
    outline: 0;
}
.intro a:hover::before, .intro a:focus::before {
    position: absolute;
    width: calc(100% + 2px);
    content: '';
    left: -1px;
    bottom: -1px;
    height: 2px;
    background: #ffa826;
}
.cover {
    grid-area: cover;
    display: grid;
    position: relative;
    padding-top: 100%;
}
img {
    box-sizing: border-box;
    border: 1px solid #c77900;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    letter-spacing: -0.5px;
}
.data {
    grid-area: data;
    display: grid;
    row-gap: calc(5px + 0.5vw);
    height: max-content;
    letter-spacing: -0.2px;
}
.key {
    font-size: 16px;
}
.value {
    font-size: 14px;
}
.download {
    border: 1px solid #003a77;
    padding: calc(10px + 0.5vw);
    background-color: #ffda5b;
    color: inherit;
    font-size: 16px;
    outline: none;
    letter-spacing: -0.5px;
}
.download:hover, .download:focus {
    background: linear-gradient(to right, #ffda5b, #5f91d8);
}
.download:active {
    transform: scale(0.95);
    transition: all 250ms ease-out;
}
.download:not(:active) {
    transition: all 250ms ease-out;
}