@media screen and (max-width: 699px) {
    #audio-section {
        margin-top: 10vw;
    }
}
@media screen and (min-width: 700px) {
    #audio-section {
        margin-top: 5vw;
    }
}
@media screen and (max-width: 561px) {
    #audio-section {
        grid-template-areas:
        "audio"
        "download";
    }
}
@media screen and (min-width: 562px) {
    #audio-section {
        grid-template-areas:
        "audio download";
    }
}
#audio-section {
    margin-right: 5vw;
    margin-bottom: 0;
    margin-left: 5vw;
    display: grid;
    gap: 5vw;
    place-items: center;
    place-content: center;
}
#audio-player {
    grid-area: audio;
    border: 1px solid #003a77;
    width: 89vw;
    max-width: 400px;
    height: 50px;
}
#download-container {
    grid-area: download;
}
#download {
    border: 1px solid #003a77;
    padding: calc(5px + 0.5vw);
    margin: 0;
    background-color: #ffda5b;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
#download:hover, #download:focus {
    background-color: #ffa826;
    box-shadow: 0 0 2px 2px #003a77;
}
#download:active {
    transform: scale(0.95);
    transition: transform 250ms ease-out;
}