@media screen and (max-width: 699px) {
    #audio-section {
        margin-top: 10vw;
    }
}
@media screen and (min-width: 700px) {
    #audio-section {
        margin-top: 5vw;
    }
}
@media screen and (max-width: 561px) {
    #audio-section {
        grid-template-areas:
        "audio"
        "download";
    }
}
@media screen and (min-width: 562px) {
    #audio-section {
        grid-template-areas:
        "audio download";
    }
}
#audio-section {
    margin-right: 5vw;
    margin-bottom: 0;
    margin-left: 5vw;
    display: grid;
    gap: 5vw;
    place-items: center;
    place-content: center;
}
#audio-player {
    grid-area: audio;
    border: 1px solid #003a77;
    width: 89vw;
    max-width: 400px;
    height: 50px;
}
#download-container {
    grid-area: download;
}
button {
    border: 1px solid #003a77;
    padding: 5px;
    margin: 0;
    background-color: inherit;
    color: inherit;
    font-size: 15px;
}